@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:ital,wght@0,700;1,400&family=Roboto:wght@400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

nav{
  display: flex;
  height: 80px;
}
.nav__container{
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 40px;
}

img{
  width: 100%;
}

.nav__links{
  display: flex;
}

li{
  list-style: none;
}

.nav__treact{
  font-size: 24px;
  color: #243E63;
  padding-left: 8px;
}

.nav__treact:hover{
  color: #6415ff;
}

.nav__link{
  padding: 0 0 4px;
  margin: 20px 24px 0;
  color: #243E63;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.nav__link--margin{
  margin-top: 10px;
}

.nav__link:hover{
  text-decoration: underline;
  color: #6415ff;
}

.nav__link--primary{
  margin: 0 24px 0 48px;
  padding: 0 0 4px;
}

.btn{
  background-color: #6415ff;
  border: none;
  border-radius: 99999px;
  padding: 12px 32px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover{
  background-color: #3d1a83;
}

.nav__container{
  padding: 56px 0;
  
}

.container{
  margin: 0 27px;
  padding: 96px 0;
}

.row{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* header */

.landing__description{
  display: flex;
  width: 100%;
}

.landing__description--wrapper{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.landing__description--title{
  color: #1A202C;
  font-size: 48px;
  font-weight: bold;
}

.purple{
  color: #6415ff;
}

.landing__description--para{
  color: #243E63;
  font-size: 18px;
  margin: 32px 0;
}

.email__wrapper{
  display: flex;
  position: relative;
  align-items: center;
}

.landing__description--email{
  width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.get--started{
  position:absolute;
  right: 3%;
  padding: 12px 18px;
}

.landing__img{
  width: 60%;
}

.landing__description--light{
  color: #A0AEC0;
  font-size: 12px;
  font-weight: bold;
  margin: 80px 0 0;
}

.landing__right--img{
  margin: 16px 0 0;
  padding: 0 128px 0 0;
}

/* features */

.feature__container{
  margin: 0 167px;
  padding: 96px 0;
}

.feature__description{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.feature__span{
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 16px;
}

.feature__description--title{
  font-size: 48px;
  color: #243E63;
}

.feature__description--para{
  font-size: 18px;
  margin: 16px 0 0;
  color: #7C8BA1;
  max-width: 550px;
}

.feature__package{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  padding: 32px 8px;
}

.feature__img--container{
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center; 
}

.feature__package--wrapper{
  display: flex;
  width: calc(100% / 3);
}

.feature__package--holder{
  display: flex;
  flex-direction: column;
}

.feature__h3{
  font-size: 24px;
  color: #243E63;
  margin: 16px 0 0;
  font-weight: bold;
}

.feature__p{
  font-size: 16px;
  margin: 16px 0 0;
  line-height: 2;
  color: #7C8BA1;
}

/* quality */

.section__description{
  display: flex;
  width: 100%;
  position: relative;
}

.section__description--wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.section__img--wrapper{
  width: 50%;
}

.section__purple{
  color: #6415ff;
  font: 16px;
  font-weight: bold;
}

.section__title{
  font-size: 48px;
  font-weight: bold;
  margin: 16px 0 0;
}

.section__para{
  font-size: 18px;
  line-height: 1.625;
  font-weight: 500;
  color: #7C8BA1;
  margin: 16px 0 0;
}

.section__button{
  color: white;
  font-size: 14px;
  background-color: #6415ff;
  border: none;
  margin: 32px 0 0;
  padding: 12px 32px;
  border-radius: 9999px;
  position: absolute;
  bottom: 0px;
}
